/* This file is the only one that will be processed correctly at build-time. Add your Scss or CSS here, or import it into here from elsewhere. An example follows… */

// @import 'components/Wrapper/index.css';

/* Example of linking to a local font file: */
@font-face {
  font-family: 'Volte Play';
  src: url('./fonts/VoltePlay-Regular.woff2') format('woff2'),
  url('./fonts/VoltePlay-Regular.woff') format('woff');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Volte Play';
  src: url('./fonts/VoltePlay-Semibold.woff2') format('woff2'),
  url('./fonts/VoltePlay-Semibold.woff') format('woff');
  font-weight: 600;
  font-display: block;
}

@font-face {
  font-family: 'Volte Play';
  src: url('./fonts/VoltePlay-Bold.woff2') format('woff2'),
  url('./fonts/VoltePlay-Bold.woff') format('woff');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'Volte Play Devanagari';
  src: url('./fonts/VoltePlayDevanagari-Regular.woff2') format('woff2'),
  url('./fonts/VoltePlayDevanagari-Regular.woff') format('woff');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Volte Play Devanagari';
  src: url('./fonts/VoltePlayDevanagari-Semibold.woff2') format('woff2'),
  url('./fonts/VoltePlayDevanagari-Semibold.woff') format('woff');
  font-weight: 600;
  font-display: block;
}

@font-face {
  font-family: 'Volte Play Devanagari';
  src: url('./fonts/VoltePlayDevanagari-Bold.woff2') format('woff2'),
  url('./fonts/VoltePlayDevanagari-Bold.woff') format('woff');
  font-weight: 700;
  font-display: block;
}

/* Or you may use Google Fonts directly from their server like this: */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@300;400;500;600;700&family=Noto+Sans:wght@300;400;500;600;700&family=Tiro+Devanagari+Hindi&family=Tiro+Tamil&display=swap');

/* To use Tailwind, uncomment the following lines: */
@tailwind base;
// add custom CSS here if necessary. After tailwind base, before tailwind components and utilities.
@tailwind components;
@tailwind utilities;

/* Demo styles only… */
/*! purgecss start ignore */
:root {
  /* Using fluid font-size techniques greatly simplifies responsive design… */
  font-size: clamp(0.75rem, 1.5vmax, 2rem);
}
/*! purgecss end ignore */
